.header {
  /* sendo 1px para baixo, 1px de bluer */
  box-shadow: 0px 1px 1px rgba(0,0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100; /* Para sobrepor todos os itens */
  background-color: white;
  top: 0; /* Para ficar grudado ao topo*/
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem; /* Definindo um valor padrão para o nav*/
}

.logo {
  padding: 0.5rem 0;
}

.login {
  color: #333;
  display: flex;
  align-items: center;
}

.login::after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 17px;
  background: url('../Assets/usuario.svg') no-repeat center center;
  margin-left: .5rem;

  /* para posicionar a imagem um pouco mais acima */
  position: relative;
  top: -1px; /* Baseado na posiçã atual e dando -1px*/
}